{%- render 'css', css: 'feature-rows.css' -%}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
  }
{%- endstyle -%}

{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign direction = section.settings.direction

  assign image = section.settings.image
  assign label = section.settings.label
  assign title = section.settings.title
  assign heading_size = section.settings.heading_size
  assign sub_title = section.settings.sub_title

  assign feature_text = section.settings.feature_text

  assign richtext = section.settings.richtext
-%}

<div class="feature-rows__container color-{{ color_scheme }}">
    <div class="container" style="flex-direction: {{ direction }}">
        {%- if image != blank -%}
            {%- assign alt = title | strip_html | escape -%}

            {%- render 'image', image: image, alt: alt, class: 'media' -%}
        {% endif %}

        <div class="feature-rows__info">
            {%- if label != blank -%}
                <p class="section-label">{{ label }}</p>
            {%- endif -%}

            {%- if title != blank -%}
                {{- title | replace_first: '>', ' class="section__heading heading_size">' | replace_first: 'heading_size', heading_size -}}
            {%- endif -%}

            {%- if sub_title != blank -%}
                {{- sub_title -}}
            {%- endif -%}

            {%- if feature_text != blank -%}
                <div class="feature-text" style="background-color: var(--color-background_text);">
                    {{- feature_text -}}
                </div>
            {%- endif -%}

            {%- if richtext != blank -%}
                {{- richtext -}}
            {%- endif -%}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Feature Rows",
    "tag": "section",
    "class": "feature-rows",
    "settings": [
         {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "scheme-2",
            "label": "t:sections.global.color_scheme.label"
        },
        {
            "type": "select",
            "id": "direction",
            "label": "Direction",
            "options": [
                {
                    "value": "row",
                    "label": "Row"
                },
                {
                    "value": "row-reverse",
                    "label": "Row Reverse"
                }
            ],
            "default": "row"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "t:sections.global.spacing.spacing_top.label",
            "options": [
                {
                "value": "0",
                "label": "No"
                },
                {
                "value": "1",
                "label": "S"
                },
                {
                "value": "2",
                "label": "M"
                },
                {
                "value": "4",
                "label": "L"
                },
                {
                "value": "6",
                "label": "XL"
                }
            ],
            "default": "2"
            },
            {
            "type": "select",
            "id": "spacing_bottom",
            "label": "t:sections.global.spacing.spacing_bottom.label",
            "options": [
                {
                "value": "0",
                "label": "No"
                },
                {
                "value": "1",
                "label": "S"
                },
                {
                "value": "2",
                "label": "M"
                },
                {
                "value": "4",
                "label": "L"
                },
                {
                "value": "6",
                "label": "XL"
                }
            ],
            "default": "2"
            },
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "label",
            "label": "Label"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.global.element.heading_size.label",
            "options": [
            {
                "value": "h6",
                "label": "XS"
            },
            {
                "value": "h5",
                "label": "S"
            },
            {
                "value": "h4",
                "label": "M"
            },
            {
                "value": "h3",
                "label": "L"
            },
            {
                "value": "h2",
                "label": "XL"
            }
        ],
            "default": "h3"
        },
        {
            "type": "richtext",
            "id": "sub_title",
            "label": "Sub Title"
        },
        {
            "type": "richtext",
            "id": "feature_text",
            "label": "Feature Text"
        },
        {
            "type": "richtext",
            "id": "richtext",
            "label": "Rich Text"
        }
    ],
    "presets": [
        {
            "name": "Feature Rows"
        }
    ]
}
{% endschema %}